:root {
  --vt-c-bg-black: rgb(13, 13, 13);
  --vt-c-text-dark: rgba(191, 191, 191, 0.8);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-bg-black);
    --color-text: var(--vt-c-text-dark);
  }
}

html {
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1.618;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  /* margin: 0; */
  /* padding: 0; */
}
body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsla(205, 50%, 67%, 0.8);
  font-weight: normal;
  margin: 0;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3,
h4,
h5,
h6 {
  font-size: 1.4rem;
}

/* custom */
span.ico-def {
  background-image: url("@/assets/ico/magic-swirl.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  box-shadow: inset -6px -6px 12px 0 rgba(96, 128, 159, 0.33);
  height: 22px;
  margin: 0 6px;
  width: 22px;
}

/* needs a redo */
.sumi-btn-1 {
  background: rgba(128, 159, 191, 0.133);
  border-radius: 8px;
  box-sizing: content-box;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 36px;
  padding: 0 12px 0 36px;
  text-decoration: none;
  transition: 0.1s ease;
  user-select: none;
}
.sumi-btn-1:hover {
  filter: brightness(1.5);
}
.sumi-btn-1:active {
  position: relative;
  top: 1px;
}
.sumi-btn-1[disabled] {
  cursor: not-allowed;
  filter: brightness(0.67) opacity(0.67);
  top: 0;
}

/* text colors */
.clr-special {
  color: rgb(191, 80, 159);
}
.clr-prodigy {
  color: rgb(80, 191, 159);
}
.clr-specialized {
  color: rgb(48, 191, 48);
}
.clr-trained {
  color: rgb(120, 191, 120);
}
.clr-untrained {
  color: rgb(191, 191, 191);
}
.clr-unusable {
  color: hsl(8, 50%, 50%);
}
.clr-buff {
  color: hsl(195, 100%, 43%);
}
.clr-hp {
  color: hsl(3, 67%, 55%);
}
.clr-sp {
  color: hsl(45, 67%, 55%);
}
.clr-mp {
  color: hsl(210, 67%, 55%);
}

/* item colors */
.item-junk {
  color: hsl(0, 0%, 60%);
}
.item-common {
  color: hsl(0, 0%, 85%);
}
.item-uncommon {
  color: hsl(120, 73%, 43%);
}
.item-rare {
  color: hsl(210, 73%, 53%);
}
.item-elusive {
  color: hsl(275, 85%, 53%);
}
.item-extraordinary {
  color: hsl(-8, 75%, 48%);
}
.item-legendary {
  color: hsl(33, 85%, 53%);
}
.item-mythical {
  color: hsl(170, 63%, 50%);
}
