:root {
  --vt-c-bg-black: #1a1a1a;
  --vt-c-text-dark: rgba(230, 230, 191, 0.67);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-bg-black);
    --color-text: var(--vt-c-text-dark);
  }
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-background);
  background: linear-gradient(-195deg, rgb(12, 12, 12), rgb(18, 18, 18), rgb(0, 18, 36));
  color: var(--color-text);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  min-height: 100vh;
}

/* text colors */

.clr-special {
  color: rgb(191, 80, 159);
}

.clr-prodigy {
  color: rgb(80, 191, 159);
}

.clr-specialized {
  color: rgb(48, 191, 48);
}

.clr-trained {
  color: rgb(120, 191, 120);
}

.clr-untrained {
  color: rgb(191, 191, 191);
}

.clr-unusable {
  color: rgb(128, 80, 80);
}

.clr-cantrip {
  color: rgb(80, 159, 191);
}
