div.sumi-pane {
  background: linear-gradient(
    22.5deg,
    rgba(96, 128, 159, 0.15),
    rgba(48, 64, 80, 0.283),
    rgba(128, 159, 191, 0.283)
  );
  border-bottom: solid 1px rgb(40, 48, 64);
  border-left: solid 1px rgb(40, 48, 64);
  border-radius: 8px;
  height: fit-content;
  padding: 6px 6px 5px 5px;
  width: fit-content;
}
.sumi-pane--inner {
  background: rgba(48, 64, 80, 0.15);
  border-radius: 2px;
  box-shadow: inset 0 0 15px -3px rgba(96, 128, 159, 0.15);
  height: fit-content;
  margin-top: 6px;
  padding: 6px;
  width: fit-content;
}

/* rule */
hr.sumi-rule {
  background: rgba(48, 64, 80, 0.3);
  border-radius: 2px;
  border: none;
  height: 4px;
  margin: 6px 0;
}
hr.sumi-rule-sm {
  background: rgba(48, 64, 80, 0.3);
  border-radius: 1px;
  border: none;
  height: 2px;
  margin: 6px 0;
}
hr.sumi-rule-gap {
  background: transparent;
  border: none;
  height: 6px;
}

/* bullet heading */
header.sumi-bullet-heading {
  align-items: center;
  background: none;
  border: none;
  box-shadow: none;
  display: flex;
  padding: 0;
  user-select: none;
}
span.sumi-bullet {
  background: linear-gradient(0deg, rgba(48, 64, 80, 0.3), rgba(48, 64, 80, 0.45));
  border-radius: 0 4px 0 4px;
  margin: 0 6px;
  min-height: 8px;
  min-width: 8px;
}
