div.sumi-pane {
  background: linear-gradient(22.5deg, hsla(270, 13%, 13%, 0.5), hsla(225, 33%, 28%, 0.5));
  border-radius: 8px;
  box-shadow: inset 18px -36px 36px -18px hsla(315, 33%, 33%, 0.125);
  padding: 6px;
}
.sumi-pane__inner {
  background: hsla(270, 7%, 7%, 0.33);
  border-radius: 4px;
  padding: 6px;
}

/* rule */
hr.sumi-rule {
  background: hsla(270, 7%, 7%, 0.33);
  border-radius: 2px;
  border: none;
  height: 4px;
  margin: 6px 0;
}
hr.sumi-rule-sm {
  background: hsla(270, 7%, 7%, 0.33);
  border-radius: 1px;
  border: none;
  height: 2px;
  margin: 6px 0;
}
.sumi-pane__inner > hr.sumi-rule-sm {
  background: hsla(270, 23%, 23%, 0.33);
}

/* bullet heading */
header.sumi-bullet-heading {
  align-items: center;
  display: flex;
  user-select: none;
}
span.sumi-bullet {
  background: linear-gradient(0deg, hsla(270, 7%, 7%, 0.33), hsla(270, 7%, 7%, 0.33));
  border-radius: 0 4px 0 4px;
  margin-right: 6px;
  min-height: 8px;
  min-width: 8px;
}

/* input */
.sumi-input {
  background: hsl(205, 8%, 8%);
  border-radius: 2px;
  border: none;
  box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.165);
  color: inherit;
  line-height: 1.618;
}
.sumi-input[type="number"] {
  appearance: textfield;
}
.sumi-input:focus {
  background: rgba(0, 0, 0, 0.375);
  filter: brightness(1.33);
  outline: solid 2px hsla(205, 50%, 67%, 0.15);
}
.sumi-input::selection {
  background: hsla(205, 50%, 67%, 0.15);
}
